/* google fonts work sens */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style */

.primary-font-size {
    font-size: 2.8rem;
}

.primary-font-color {
    color: #131313;
}

.secondary-font-color {
    color: #727272;
    line-height: 26px;
}

.btn-primary {
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}

.display-flex {
    display: flex;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    margin: 50px 0;
    padding: 20px;
}


/* header section style  */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px;
}

/* navber section style */

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

.navber {
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-menu {
    gap: 30px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

/* banner section style */
.banner-content-container {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-content {
    margin-top: 116px;
}

.banner-title {
    font-size: 4rem;
}

.banner-description {
    margin: 40px 0;
}

.banner-img {
    padding: 50px 0;
}

.banner-img img {
    width: 100%;
}

/* team section style */
.team-container {
    align-items: center;
    gap: 70px;
}

.team-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.team-title-features {
    color: #FF900E;
}

.team-description {
    margin: 24px 0 32px 0;
}

/* features section style */
.features-container {
    gap: 146px;
}

.features-title {
    border-left: 5px solid #FF900E;
    padding-left: 24px;
}

.features-description {
    margin: 30px 0;
}

.features-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.features-card-title {
    margin-bottom: 10px;
}

.features-badge {
    margin-top: -90px;
    margin-left: -80px;
}

.features-year {
    font-size: 4.0625rem;
}

.features-experience {
    font-size: 1.5625rem;
}

/* some-facte section style */
.some-fact-content {
    max-width: 540px;
}
.some-fact-description {
    margin: 30px 0 80px 0;
}
.some-fact-card-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.some-fact-card {
    max-width: 250px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 40px 35px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.some-fact-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;


}
.some-fact-card-number {
    font-weight: 600;
}
.some-fact-card-text {
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponspors section style */
.sponspors {
    margin-bottom: 80px;
}
.sponspors-content {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponspors-description {
    margin: 24px 0 50px 0;
}
.sponspors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%)
}
/* footer section style */
footer {
    max-width: 1440px;
    margin: 0 auto 100px auto;
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 40px;
    border-radius: 8px;
}
footer h3 {
    font-size: 1.25rem;
    font-weight: 400;
}








/* responsive small device */
@media screen and (max-width: 576px) {

    .navber,
    .nav-menu,
    .team-container,
    .features-container {
        flex-direction: column;
    }

    .some-fact-card-container,
    .sponspors-container
    {
        grid-template-columns: 1fr;
    }
    .sponspors-container {
        gap: 80px;
        justify-items: center;
    }

    .logo {
        margin-bottom: 30px;
    }

    .team-card-container {
        grid-template-columns: 1fr;
    }

    .features-img img {
        width: 100%;
    }

    .features-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

}

/* responsive medium device  */

@media screen and (min-width: 577px) and (max-width: 992px) {

    .navber,
    .team-container,
    .features-container {
        flex-direction: column;
    }

     .some-fact-card-container,
     .sponspors-container
     {
        grid-template-columns: repeat(2, 1fr);
    }
    .sponspors-container {
        gap: 100px;
        justify-items: center;
    }

    .logo {
        margin-bottom: 50px;
    }

    .features-img img {
        width: 100%;
    }

    .features-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

}